<launch>
  <arg name="scan_topic" default="/front/scan" />
  <arg name="cloud_topic" default="/mid/points" />

  <!-- Project the Velodyne point cloud into a virtual 2D scan. -->
  <include file="$(find me5413_world)/launch/include/project_3d_lidar_to_scan.launch">
    <arg name="cloud_topic" value="$(arg cloud_topic)" />
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <!-- Connect the robot to a keyboard teleop controller -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>
  
  <!-- Use the filtered virtual 2D scan with gmapping. -->
  <include file="$(find me5413_world)/launch/include/gmapping.launch">
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/gmapping.rviz" output="log" respawn="true"/>

</launch>
